body{
    padding: 0;
    margin: 0;
}

#navbar{
    background-color: brown; 
}

ul{
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: right;
}

li{
    color: white;
    padding: 20px 15px;
    font-size: 20px;
}

img{
    width: 32vw;
}
#welcome-section{
    background-color: rgb(49, 42, 42); 
    color: aliceblue;
    height: 50vh;
    text-align: center;
    padding-top: 6rem;
}

h1, h2, h3, h4{
    margin: 0;
}

h1{
    font-size: 3rem;
}

h3{
    color: brown;
    font-size: 1.5rem;
}

#project-title{
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    padding: 20px;
}

footer{
    background-color: black;
    color: aliceblue;
    height: 20vh;
    text-align: center;
    padding-top: 2rem;
}